/Content.java
/CoreFactory.java
/CorePackage.java
/Documented.java
/Evaluator.java
/ExpressionEvaluator.java
/GitMarker.java
/GroovyEvaluator.java
/Marked.java
/Marker.java
/ModelElement.java
/NamedElement.java
/Referrable.java
/ScriptEvaluator.java
/Section.java
/SectionReference.java
/SourceEvaluator.java
/SpelEvaluator.java
/StringIdentity.java
/XPathEvaluator.java
